* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #e4f7ec;
    color: #2e8b57;
    text-align: center;
}

header {
    background-color: #589572;
    padding: 20px;
    color: #fff;
    position: relative;
}

header label {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

header input {
    display: none; /* Sembunyikan checkbox */
}

header span {
    display: block;
    background-color: #ccc;
    border-radius: 34px;
    height: 100%;
    position: relative;
    transition: background-color 0.4s;
}

header span:before {
    content: "";
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    bottom: 4px;
    transition: transform 0.4s;
}

header input:checked + span {
    background-color: #589572;
}

header input:checked + span:before {
    transform: translateX(26px);
}

body header h1 {
    font-size: 2.5rem;
}

body main {
    padding: 20px;
}

body .subjectSection {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

body .subjectSection h2 {
    font-size: 2rem;
    margin-top: 100px;
    padding-left: 10px;
}

body .courseContainer {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

body .courseContainer::-webkit-scrollbar {
    height: 8px;
}

body .courseContainer::-webkit-scrollbar-thumb {
    background-color: #589572;
    border-radius: 10px;
}

body .course {
    flex: 0 0 auto;
    width: 300px; /* Lebar setiap course */
    background-color: #fff;
    border: 2px solid #589572;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 400px; /* Tinggi setiap course */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body .course img {
    width: 100%; /* Mengisi lebar penuh */
    height: 300px; /* Atur tinggi gambar */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
}

body .course a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #2e8b57;
    font-size: 1.2rem;
    font-weight: bold;
}

body .course a:hover {
    color: #000000;
}

body footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #589572;
    color: #ffffff;
    width: 100%;
}

body footer nav ul {
    list-style-type: none;
}

body footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

body footer nav ul li a:hover {
    color: #000000;
}
