* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e5e5e5;
    color: #333;
    padding: 0;
    margin: 0;
}

header {
    background-color: #14213d;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 80px;
}

header h1 {
    font-size: 3rem;
    color: #fca311;
    margin: 0;
}

header label {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header input[type="checkbox"] {
    display: none;
}

header span {
    display: block;
    background-color: #e5e5e5;
    border-radius: 34px;
    width: 60px;
    height: 34px;
    position: relative;
    transition: background-color 0.4s;
    margin-right: 10px;
}

header span:before {
    content: "";
    height: 26px;
    width: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    bottom: 4px;
    transition: transform 0.4s;
}

header input[type="checkbox"]:checked + span {
    background-color: #fca311;
}

header input[type="checkbox"]:checked + span:before {
    transform: translateX(26px);
}

header label div {
    color: #fca311;
    font-size: 1rem;
    font-weight: bold;
}

body .identity h2 
{
    margin-top: 400px;
    margin-bottom: 400px;
    font-size: 3.5rem;
    color: #14213d;
    text-align: center;
}

footer {
    background-color: #14213d;
    color: #ffffff;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footerButtons li {
    flex: 1;
    text-align: center;
    border-right: 2px solid #ffffff;
}

.footerButtons li:last-child {
    border-right: none;
}

.footerButtons a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.footerButtons a:hover {
    background-color: #e5e5e5;
    color: #14213d;
}

.footerButtons a.active {
    background-color: #fca311;
    color: #14213d;
}